HOST=0.0.0.0
PORT=3004
DATABASE_URL=postgresql://notifications:notifications@notifications-db:5432/notifications
POSTGRES_DB=notifications
POSTGRES_USER=notifications
POSTGRES_PASSWORD=notifications
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
